@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  @apply bg-neutral-950 text-neutral-200;
}

#root {
  height: 100%;
}

/* Плавные анимации для всех интерактивных элементов */
button, a, input, textarea, select, .transition-all {
  @apply transition-all duration-500 ease-in-out;
}