@import "tailwindcss";

@theme {
  --color-rose-700: #59001b;
  --color-rose-800: #3f0013;
  --color-rose-900: #26000b;
  --color-rose-950: #130005;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  @apply bg-rose-950 text-white;
}

#root {
  height: 100%;
}

/* Плавные анимации для всех интерактивных элементов */
button, a, input, textarea, select, .transition-all {
  @apply transition-all duration-700 ease-in-out;
}